/* Cube formation */
#top {
  transform: scale(1, 1) rotateX(0) rotateY(0) rotateZ(0) translateX(0) translateY(0) translateZ(0);
}

#bottom {
	transform: scale(1, 1) rotateX(-180deg) rotateY(0) rotateZ(0) translateX(0) translateY(-100%) translateZ(360px);
}

#back {
	transform: scale(1, 1) rotateX(90deg) rotateY(0) rotateZ(0) translateX(0) translateY(-100%) translateZ(0);
}

#right {
  transform: scale(1, -1) rotateX(-90deg) rotateY(-90deg) rotateZ(0) translateX(-100%) translateY(0) translateZ(-360px);
}

#front {
	transform: scale(1, 1) rotateX(270deg) rotateY(0) rotateZ(0deg) translateX(0) translateY(0) translateZ(360px);
}

#left {
  transform: scale(-1, 1) rotateX(-90deg) rotateY(-90deg) rotateZ(0) translateX(0) translateY(0) translateZ(0);
}

/*  Face-specific Styles */
/*  Faces have default colors
    and should be replaced using JS
*/
#top div {
	background-color: white;
	color: black;
}

#front div {
	background-color: blue;
}

#back div {
	background-color: green;
}

#bottom div {
	background-color: yellow;
	color: black;
}

#left div {
	background-color: red;
}

#right div {
	background-color: orange;
}