@keyframes fade {
	0% {
  	transition: color ease-in-out;
  	-moz-transition: color;
  	-webkit-transition: color;
	}
	100% {
		color: rgba(255,255,255,0.7);
  	transition: color .25s ease-in-out;
  	-moz-transition: color .25s ease-in-out;
  	-webkit-transition: color .25s ease-in-out;
	}
}

@keyframes fadeToBlack {
	0% {
  	transition: color ease-in-out;
  	-moz-transition: color;
  	-webkit-transition: color;
	}
	100% {
		color: rgba(0,0,0,0.7);
  	transition: color .25s ease-in-out;
  	-moz-transition: background-color .25s ease-in-out;
  	-webkit-transition: background-color .25s ease-in-out;
	}
}

