
.menu a:hover {
	text-decoration: none;
	color: rgba(255,255,255,0.9);
}
.menu a i:hover, .menu a span:hover {
	animation: fade 0.5s forwards; 
}

/* Media Queries for menu */
@media only screen 
and (min-width : 75px) 
and (max-width : 719px) {
	.menu a i:hover, .menu a span:hover {
		animation: fadeToBlack 0.5s forwards; 
	}
}
