@import url('https://fonts.googleapis.com/css?family=Anton');

#root {
	color: white;
	background-color: black;
	box-sizing: border-box;
	font-size: 2em;
	font-family: "Anton";
}

/* Stage/Cube Styles */
.wrapper {
	top: 50%;
	left: 50%;
	position: absolute;
  -moz-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
}

/* Media Queries and 
  Default Animations */
@media only screen 
and (min-width : 75px) 
and (max-width : 667px) 
  { 
	.cube {
  	animation: simpleRotateX 10s infinite ease-in-out; 
	}
	.wrapper {
		margin-top: 0%;
		margin-left: -20%;
		transform: scale(0.6);
		-moz-transform: scale(0.6);
	}
}

@media only screen 
and (min-width: 668px)
and (max-width: 719px){ 
	.cube {
    animation: simpleRotateX 20s infinite ease-in-out; 
	}
	.wrapper {
		margin-top: -25%;
		margin-left: 0%;
		transform: scale(0.6);
		-moz-transform: scale(0.6);
	}
}

@media only screen 
and (min-width: 720px) 
and (max-width: 1023px) { 
	.cube {
    animation: simpleRotateY 10s infinite ease-in-out; 
	}
	.wrapper {
		margin-top: -25%;
		transform: scale(0.8);
		-moz-transform: scale(0.8);
	}
}

@media only screen 
and (min-width: 1024px) { 
	.cube {
  	animation: spin 60s infinite ease-in-out; 
		margin-top: 0%;
	}
	.wrapper {
		margin-left: 0%;
		transform: scale(0.8);
		-moz-transform: scale(0.8);
	}
}
